*{
	margin:0;
	padding:0;
	list-style: none;
}
html, body{
	margin:auto;
	background-color: black;
}

.content{
	max-width: 1170px;	
	margin:auto;
	background-color:#f9f9f9;
}
.space{
	width: 100vw;
	height: 5vh;
	background-color:#f9f9f9;
	border:none;
}
.clear{
	clear:both;
}
h1,h2,h3,p,li,a,span{
	font-family: Calibri;
}
/*--------------Banner------------------*/

.banner{
	width: 100vw;
	height: 100vh;
	margin:auto;
	background-image: 
	url(img/eattogether.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.menuControlBtn{
	display: none;
} 
#menuControl{
	position: absolute;
	left:-100px;
}


@media screen and (min-width: 768px){
	.header{
		width: 100%;
		margin:auto;
		box-sizing: border-box;
	}
	.logo{
		width: 11.97916667%;
		height: 0px;
		padding-bottom: 12.5%;
		float:left;	
		position: relative;
		box-sizing: border-box;
	}
	.logo img{
		width: 100%;
		height: 100%;
		position: absolute;	
	}
	.menu{
		width: 88.02083333%;
		height: 0px;
		padding-bottom: 12.5%;
		float: left;
		text-align: right;
	}
	.menu .formobile{
		display: none;
	}
	.menu ul{
		display: inline-block;
		list-style: none;
		font-family: Calibri;
		margin:4.7948%;
		text-align: center;
	}
	.menu li{
		display: inline-block;
		list-style: none;
		font-family: Calibri;
	}
	.menu li+li:before{
		content: '/';	
		display: inline-block;
		color:#f1e2da;
		padding: 30px;
		font-size: 23px;
	}
	.menu a{
		color: #f1e2da;
		text-decoration:none;
		font-size: 27px;
		font-weight: lighter;
	}
	.menu a:hover{
		color:#d96200;
	}
	.banner h1{
		font-size: 6.3vw;
		font-weight: bold;
		font-family: Capriola;
		color: #f9f9f9;
		text-align: center;
		margin-top: 180px;
	}
	.banner p{
		font-size: 2.7vw;
		margin-top: 6px;
		font-family: Calibri;
		font-weight: lighter;
		color: #f9f9f9;
	}
	.searchblanks{
		margin:auto;
		width: 600px;
	}
	.go1{
		display: none;
	}

	.blank1, .blank2, .blank3{
		margin-top:40px;
		float: left;
	}
	.blank{
		width: 198px;
		height: 48px;
		position:relative;
		box-shadow: 15px 15px 25px 1px rgba(0,0,0,.7);
		text-indent: 12px;
		font-size: 17px;
		background-color: #f9f9f9;
		-webkit-transition:width 0.35s;
		margin:auto;
		float: left;
		border:1px solid rgba(71,71,71,0.1);
/*		top:80px;
*/	}
	.button{
		width: 198px;
		height: 48px;
		position:relative;
/*		top: 80px;
*/		background-color: #d96200;
		border:none;
		margin:auto;
		font-family: Calibri;
		font-size: 29px;
		color: #f9f9f9;
		text-align: center;
		font-weight: bold;
		border-top:3px solid #d96200;
		box-shadow: 15px 15px 25px 1px rgba(0,0,0,.7);
	}
	.blank3 .button{
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
     	            0px 18px 23px rgba(0,0,0,0.1);
	}
}


@media screen and (max-width: 767px){
	.banner{
		width: 100vw;
		height: 0;
		padding-bottom: 35vh;
		margin:auto;
		background-image: 
		url(img/eattogether.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.header{
		width: 100%;
		margin:auto;
		box-sizing: border-box;
	}
	.logo{
		width: 11.97916667%;
		height: 0px;
		padding-bottom: 12.5%;
		float:left;	
		position: relative;
	}
	.logo img{
		width: 100%;
		height: 100%;
		position: absolute;	
	}
	.menuControlBtn{
		display: block;
		width: 40px;
		height: 40px;
		font-size: 23px;
		padding-top: 11px;
		padding-right: 11px;
		color:rgba(217,98,0,.8);
		float: right;
	}
	.menu{
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		height: 50px;
		z-index: 2;
	}
	.menu ul{
		width: 100vw;
		height: 100vh;			
		position: fixed;
		top: 50px;
		right: -100vw;
		margin-top: -50px;
		transition: .5s;
		text-align: right;
		background-color: rgba(71,71,71,1);
	}
	.menu li{
		font-family: Calibri;
		position: relative;
		text-align: center;
		top:15vh;
	}
	.menu li+li:before{
		content: '-';	
		display: block;
		color:#f1e2da;
		padding: 20px 0;
		}
	.menu a{
		color: #f1e2da;
		text-decoration:none;
		font-size: 5.3vw;
		font-weight: lighter;
	}
	.menu a:hover{
		color:#d96200;
	}
	#menuControl:checked ~ .header .menu ul{
		right:0;
	}
	.banner h1{
		font-size: 6.3vw;
		font-weight: bold;
		font-family: Capriola;
		color: #f9f9f9;
		text-align: center;
		margin-top: 30px;
	}
	.banner p{
		font-size: 2.7vw;
		margin-top: 6px;
		font-family: Calibri;
		font-weight: lighter;
		color: #f9f9f9;
	}
	.searchblanks{
		margin:auto;
		width: 375px;
	}
	.go1 button{
		background-color: #f9f9f9;
		border: none;
		position: relative;
	}
	.go1 img{
		width: 20px;
		height: 20px;
		background-color: #f9f9f9;
		border: none;
		position: absolute;
		top: 30px;
		left: 67px;
	}
	.blank1, .go1{
		float: left;
		z-index: 0;
		position: relative;
	}
	.blank2, .blank3{
		display: none;
	}
	.blank{
		width: 177px;
		height: 25px;
		position:relative;
		text-indent: 12px;
		font-size: 1vw;
		background-color: #f9f9f9;
		-webkit-transition:width 0.35s;
		margin:auto;
		border:1px solid rgba(71,71,71,0.1);
		top: 40px;
		left: 99px;
	}
	.menu a:hover{
		color:#d96200;
	}
	#menuControl:checked ~ .banner .menu ul{
		right:0;
	}
}




/*--------------Introduce------------------*/


@media screen and (min-width: 768px){
	.howitworks{
		width: 100vw;
		height: 90vh;
		margin:auto;
		background-color:#f9f9f9;
		box-sizing: border-box;
	}
	.incontent{
		width: 33.333333333333333%;
		float: left;
		padding:40px 10px;
		box-sizing: border-box;
	}
	.pic{
		width: 45%;
		height: 0;
		padding-bottom: 45%;
		margin:auto;
		border-radius: 50%;
		border:3px solid rgba(189,174,166,0.9);
		background-color:transparent;
		position: relative;
		margin-top: 50px;
		overflow: hidden;
	}
	.pic img{
		width: 60%;
		margin:auto;
		box-sizing: border-box;
		display: block;
		position: absolute;
		left: 0;
		top:0;
		right: 0;
		bottom: 0;
	}
	.howitworks h2,h3,p,span{
		font-family: Calibri;
		line-height: 1.3;
		text-align: center;
	}
	.howitworks h2{
		font-size: 4.7vw;
		text-align: center;
	}
	.howitworks span{
		display: block;
		font-size: 1.5vw;
		font-weight: lighter;
		color: #909a9a;
	}
	.incontent h3{
		font-size: 1.7vw;
		text-align: center;
		padding-top: 27px;
		font-weight: lighter;
	}
	.incontent p{
		font-size: 17px;
		color: #909a9a;
		font-weight: lighter;
		line-height: 1.5;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 13px;
		text-justify:inter-ideograph;
	}
	
}

@media screen and (max-width: 767px){
	.space{
	width: 100vw;
	height: 2vh;
	background-color:#f9f9f9;
	}	
	.incontent{
		width: 100%;
		float: left;
		box-sizing: border-box;
		margin-top: -20px;
	}
	.pic{
		width: 30%;
		height: 0;
		padding-bottom: 30%;
		margin:auto;
		border-radius: 50%;
		border:3px solid rgba(189,174,166,0.9);
		background-color:transparent;
		position: relative;
		margin-top: 50px;
		overflow: hidden;
	}
	.pic img{
		width: 60%;
		margin:auto;
		box-sizing: border-box;
		display: block;
		position: absolute;
		left: 0;
		top:0;
		right: 0;
		bottom: 0;
	}
	.howitworks h2,h3,p,span{
		font-family: Calibri;
		line-height: 1;
		text-align: center;
	}
	.howitworks h2{
		font-size: 5.7vw;
		text-align: center;
	}
	.howitworks span{
		display: none;
		/*display: block;
		font-size: 2.5vw;
		font-weight: lighter;
		color: #909a9a;*/
	}
	.incontent h3{
		font-size: 3.7vw;
		text-align: center;
		padding-top: 27px;
		/*font-weight: lighter;*/
	}
	.incontent p{
		font-size: 1.4vw;
		color: #909a9a;
		font-weight: lighter;
		line-height: 1.5;
		padding-right: 50px;
		padding-left: 50px;
		padding-top: 8px;
		text-justify:inter-ideograph;
	}
}
       

/*---------------------border-----------------*/

@media screen and (min-width: 768px){
	.bigdiv4border{
		background-color:#f9f9f9;
		width: 100%;
		height: auto;
	}
	.border{
		width: 100%;
		height: 0;
		padding-bottom: 50px;
		background-color:#f9f9f9;
		margin-right: 0; 
	}
	.inborder{
		width: 77.395833333%;
		height: 0px;
		padding-bottom: 26px;
		border-bottom: 5px solid #bdaea6;
		float: right;
		background-color:#f9f9f9;
	}
}

@media screen and (max-width: 767px){
	.bigdiv4border{
		background-color:#f9f9f9;
		width: 100%;
		height: auto;
	}
	.border{
		width: 100%;
		height: 0;
		padding-bottom: 50px;
		background-color:#f9f9f9;
		margin-right: 0; 
	}
	.inborder{
		width: 77.395833333%;
		height: 0px;
		padding-bottom: 26px;
		border-bottom: 5px solid #bdaea6;
		float: right;
		background-color:#f9f9f9;
	}
}



/*---------------------Explore-----------------*/

@media screen and (min-width: 768px){
.explore{
	width: 100%;
	height: auto;
	margin:auto;
	background-color:#f9f9f9;
}
.explore h2,span{
	font-family: Calibri;
	line-height: 1.4;
	text-align: center;
}
.explore h2{
	font-size: 3.9vw;
}
.explore span{
	display: block;
	font-size: 1.5vw;
	font-weight: lighter;
	color: #909a9a;
}
}

@media screen and (max-width: 767px){
.explore{
	width: 100%;
	height: auto;
	margin:auto;
	background-color:#f9f9f9;
}
.explore h2,span{
	font-family: Calibri;
	line-height: 1.4;
	text-align: center;
}
.explore h2{
	font-size: 5.7vw;
}
.explore span{
	display: block;
	font-size: 2.5vw;
	font-weight: lighter;
	color: #909a9a;
}
}

/*-------------------------------------*/

@media screen and (min-width: 768px){
.intro .content{
	position: relative;
	max-width: 1170px;
	height: auto;
	margin:auto;
	background-color:#f9f9f9;
}
.intro{
	width: 100%;
	height: 0;
	padding-bottom: 1267px;
	background-color:#f9f9f9;
	position: relative;
	padding-top: 50px;
	z-index: 1;
}
.intro:after{
	content: '';
	display: block;
	position: absolute;
	left: 28.125%; /*270px*/
	bottom: 0;
	top:12.5%; /*120px*/
	width: 72.08333333333%; /*692px*/
	height: 0px;
	padding-bottom: 1087px;
	background-color: rgba(220,216,216,0.2);
}
.pic1{
	float: left;
	width: 46.41025641%;
	height: 0;
	padding-bottom: 354px;
	padding-left: 100px;
}
.pic1 img{
	/*width: 541px;
	height: 348px;*/
	width: 46.23931624%;
	position: absolute;
	z-index: 1;
	box-shadow: 5px 5px 15px 0px gray;
}

.intro .txt1{
	float: left;
	width: 19.03418803%; /*211px*/
	height: 0; 
	padding-bottom: 350px;
	box-sizing: border-box;
	/*top:219px;*/
	margin-top: 18%;
	margin-left:70%;	
	border:2px solid rgba(158,145,127,.2);
	position: absolute;
}
.txt1 p{
	display: block;
	margin: auto;
	font-size: 1.4vw;
	padding: 13px;
	color:rgba(158,145,127,.9);
	text-align: center;
	font-weight: lighter;
	text-justify:inter-ideograph;
}
.txt1 span{
	display: block;
	font-size: 1.4vw;
	color:rgba(158,145,127,.9);
	text-align: center;
	font-weight: lighter;
	padding-top: 20px;
	text-justify:inter-ideograph;
}
.txt1:before{
	content: '';
	display: block;
	width: 584px;
	border:1px solid rgba(158,145,127,.2);
	position: absolute;
	/*margin-top: 230px;
	margin-left: -588px;*/
	left: -588px;
	top:230px;
}
.txt1:after{
	content: '';
	display: block;
	height: 244px;
	border:1px solid rgba(158,145,127,.2);
	position: absolute;
	left: 37px;
	top:-247px;
}
.intro .content2{
	position: relative;
	max-width: 1170px;
	height: auto;
	margin:auto;
	background-color:#f9f9f9;
}
.pic2{
	float: left;
	width: 31.875%; /*306px*/
	height: 0;
	padding-bottom: 369px;
	position: absolute;
	padding-left: 100px;
}
.pic2 img{
	/*width: 306px;
	height: 369px;*/
	width: 70%;
	box-shadow: 5px 5px 15px 0px gray;
	z-index: 1;
	top: 570px;
	position: absolute;
	
}
.intro .txt2{
	float: right;
	width: 26.25%; /*252px*/
	height: 0;
	padding-bottom:7.08333333333%; /*68px*/ 
	margin-top: 53.52083333%; /*629px*/
	margin-left: 53.75%; /*420px*/	
/*	border:2px solid transparent;
*/	border:2px solid rgba(158,145,127,.2);
	position: absolute;
	z-index: 1;

}
/*.intro:hover .txt2{
	border:2px solid rgba(158,145,127,.2);
}*/

.txt2 p{
	display: block;
	margin: auto;
	font-size: 1.4vw;
	color:rgba(158,145,127,.9);
	text-align: center;
	font-weight: lighter;	
	text-justify:inter-ideograph;
	padding:15px 15px 15px 15px;
}
.pic2:after{
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background-color: rgba(158,145,127,.9);
	border:1px solid rgba(158,145,127,.2);
	border-radius: 50%;
	position: absolute;
	margin-top: 662px;
	margin-left: 84.375%; /*330px*/
	z-index: 1;
}
.txt2:before{
	content: '';
	display: block;
	width: 128px;
	border:1px solid rgba(158,145,127,.2);
	position: absolute;
	margin-left: -130px;
	margin-top:42px;
}
.txt2:after{
	content: '';
	display: block;
	width: 204px;
	border:2px solid rgba(158,145,127,.2);
	position: absolute;
	margin-left: 100.458333333%; /*254px*/
  	margin-top:-42px;
}
.intro .content3{
	position: relative;
	max-width: 1170px;
	height: auto;
	margin:auto;
	background-color:#f9f9f9;
}
.pic3{
	float: right;
	width: 31.875%;/*306px;*/
	height: 0;
	padding-bottom: 369px;
	padding-right: 50px; 
	position: absolute;
}
.pic3 img{
	width: 80%;
	/*height: 365px;*/
	box-shadow: 5px 5px 15px 0px gray;
	z-index: 1;
	margin-top: 880px;
	margin-left: 700px;
	position: absolute;
}
.intro .txt3{
	float: right;
	width: 26.25%; /*252px;*/
	height: 0;
	padding-bottom: 93px;
	/*height: 68px;*/
	margin-top:95.666666667%; /*1120px;*/
	margin-left: 17%; /*195px;*/	
	border:2px solid rgba(158,145,127,.2);
	/*border:2px solid transparent;*/
	/*padding-top: 12px;*/
	position: absolute;
	z-index: 1;
}
/*
.intro:hover .txt3{
	border:2px solid rgba(158,145,127,.2);
}
*/
.txt3 p{
	display: block;
	/*width: 228px;
	height: 57px;*/
	margin: auto;
	font-size: 1.4vw;
	color:rgba(158,145,127,.9);
	text-align: center;
	font-weight: lighter;
	padding:15px;
}
.pic3:after{
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background-color: rgba(158,145,127,.9);
	border:1px solid rgba(158,145,127,.2);
	border-radius: 50%;
	position: absolute;
	bottom: -798px;
	left:647px;
	z-index: 1;
}
.txt3:before{
	content: '';
	display: block;
	width: 84px;
	border:1px solid rgba(158,145,127,.2);
	position: absolute;
	left: -88px;
	top:37px;
}
.txt3:after{
	content: '';
	display: block;
	width: 135px;
	border:2px solid rgba(158,145,127,.2);
	position: absolute;
	left: 308px;
	top:37px;
}
/*.txt3 p:before{
	content: '';
	display: block;
	height: 185px;
	border:1px solid rgba(158,145,127,.2);
	position: absolute;
	left: 65px;
	top:82px;
}
.txt3 p:after{
	content: '';
	display: block;
	height: 37px;
	border:1px solid rgba(158,145,127,.2);
	position: absolute;
	left: 65px;
	top:-41px;
}*/
.introformobile{
	display: none;
}
}

@media screen and (max-width: 767px){
.intro{
	display: none;
}
.introformobile{
	background-color: #f9f9f9;
}
.introformobile .column{
	width: 100%;
	margin:auto;
}
.pic4intro{
	padding:5px 40px;
	margin:auto;
}
.pic4intro img{
	width: 100%;
}
.pic4intro p{
	display: block;
	margin: auto;
	font-size: 1.4vw;
	color:rgba(158,145,127,.9);
	text-align: center;
	font-weight: lighter;
	padding:15px;
}
.pic4intro span{
	display: block;
	font-size: 1.4vw;
	color:rgba(158,145,127,.9);
	text-align: center;
	font-weight: lighter;
	padding-top: 20px;
	text-justify:inter-ideograph;
}
}




/*---------------------photos-----------------*/

@media screen and (min-width: 768px){
.photos{
	width: 100%;
	height: 0;
	padding-bottom: 500px;
	margin:auto;
	background-color:#f9f9f9; 
}
.center{
	margin:auto;
	position: relative;
	margin:auto;
	text-align: center;
	width: 100%;
}
/*.center:after{
	content: '';
	display: blcok;
	width: 708px;
	height: 414px;
	margin:auto;
	position: absolute;
	background-color: rgba(6,6,6,0.4);
	top:0px;
	right: 126px;
}
*/
.center img{
	width: 60%;
}
.right{
	width: 65px;
	height: 65px;
	float: left;
	display: block;
	margin:auto;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	margin-left: 230px;
	margin-top: 170px;	
	z-index: 2;
}
.left{
	width: 65px;
	height: 65px;
	float: left;
	display: block;
	margin:auto;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	z-index: 2;
	margin-left: 873px;
	margin-top: -250px;	
}

.right:hover{
	transform:scale(1.5);
}
.left:hover{
	transform:scale(1.5);
}
.right img,.left img{
	width: 40px;
	height: 40px;
	margin:auto;
	/*display: block;*/
	position: absolute;
	top:11px;
	left: 8px;
}
.left img{
	width: 40px;
	height: 40px;
	margin:auto;
	/*display: block;*/
	position: absolute;
	top:11px;
	left:12px;
}
.right img{
	transform: rotateY(-180deg);
}
.move{
	width: 100%;
	height: 0;
	padding-bottom: 20px;
	margin:auto;
	text-align: center;
}
.move li{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgba(158,145,127,.5);
	margin:auto;
	margin-right: 6px;
	margin-left: 6px;
	margin-top:40px;
	animation:move 1s 1s both;
}
/*:hover li{
	background-color: #d96200;
}
*/
.move li:nth-child(1){animation:move 1.5s   0s infinite alternate both;}
.move li:nth-child(2){animation:move 1.5s 0.4s infinite alternate both;}
.move li:nth-child(3){animation:move 1.5s 0.8s infinite alternate both;}

@keyframes move{
	0%{transform:scale(0,0);}
	100%{transform:scale(1,1);}
}
@keyframes move{
	0%{background-color:#d96200;}
	100%{background-color:rgba(158,145,127,.5);}
}
}


@media screen and (max-width: 767px){
/*.photos{
	width: 100%;
	height: 0;
	padding-bottom: 500px;
	margin:auto;
	background-color:#f9f9f9; 
}*/
.content{
	width: 100%;
}
.center{
	margin:auto;
	position: relative;
	margin:auto;
	text-align: center;
	width: 100%;
}
.center img{
	width: 90%;
}
/*.center:after{
	content: '';
	display: blcok;
	width: 708px;
	height: 414px;
	margin:auto;
	position: absolute;
	background-color: rgba(6,6,6,0.4);
	top:0px;
	right: 126px;
}
*/
.right{
	width: 65px;
	height: 65px;
	float: left;
	display: block;
	margin:auto;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	margin-left: 230px;
	margin-top: 170px;	
	z-index: 2;
}
.left{
	width: 65px;
	height: 65px;
	float: left;
	display: block;
	margin:auto;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	z-index: 2;
	margin-left: 873px;
	margin-top: -250px;	
}

.right:hover{
	transform:scale(1.5);
}

.left:hover{
	transform:scale(1.5);
}

.right img, .left img{
	width: 40px;
	height: 40px;
	margin:auto;
	/*display: block;*/
	position: absolute;
	top:11px;
	left: 8px;
}
.left img{
	width: 40px;
	height: 40px;
	margin:auto;
	/*display: block;*/
	position: absolute;
	top:11px;
	left:12px;
}
.right img{
	transform: rotateY(-180deg);
}
.move{
	width: 100%;
	height: 0;
	padding-bottom: 20px;
	margin:auto;
	text-align: center;
}
.move li{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: rgba(158,145,127,.5);
	margin:auto;
	margin-right: 6px;
	margin-left: 6px;
	animation:move 1s 1s both;
}
/*:hover li{
	background-color: #d96200;
}
*/
.move li:nth-child(1){animation:move 1.5s   0s infinite alternate both;}
.move li:nth-child(2){animation:move 1.5s 0.4s infinite alternate both;}
.move li:nth-child(3){animation:move 1.5s 0.8s infinite alternate both;}

@keyframes move{
	0%{transform:scale(0,0);}
	100%{transform:scale(1,1);}
}
@keyframes move{
	0%{background-color:#d96200;}
	100%{background-color:rgba(158,145,127,.5);}
}
}

 /*--------------Footer------------------*/ 
@media screen and (min-width: 768px){
.footer{
	width: 100%;
	height: 0;
	padding-bottom: 70px;
	margin:auto;
	background-color: #bab0aa;
}

.copy li{
	/*font-weight: bold;*/
	font-size:15px;
	text-align: center;
	display:inline;
	float:left;
	padding-top: 30px;
	color:#f9f9f9;
}
.copy a,.icon a{
	text-decoration: none;
	color:#f9f9f9;
}
.copy li:hover{
	color:#d96200;
}
.copy li+li:before{
	color:#f9f9f9;
	content:'|';
	padding-right: 15px;
	padding-left: 15px;
}
.icon li{
	float:right;
	display: inline-block;
	font-size:15px;
	text-align: center;
	padding-top: 30px;
	color:#f9f9f9;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 1px;
}
}
@media screen and (max-width: 767px){
.footer{
	width: 100%;
	height: 0;
	padding-bottom: 70px;
	margin:auto;
	background-color: #bab0aa;
}

.copy li{
	/*font-weight: bold;*/
	font-size:15px;
	text-align: center;
	display:inline;
	float:left;
	padding-top: 30px;
	color:#f9f9f9;
}
.copy a,.icon a{
	text-decoration: none;
	color:#f9f9f9;
}
.copy li:hover{
	color:#d96200;
}
.copy li+li:before{
	color:#f9f9f9;
	content:'|';
	padding-right: 15px;
	padding-left: 15px;
}
.icon li{
	float:right;
	display: inline-block;
	font-size:15px;
	text-align: center;
	padding-top: 30px;
	color:#f9f9f9;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 1px;
}
}

