*{
	margin: 0;
	padding: 0;
	list-style:none;
}

html body{
	background-color: black;
}
.content{
	width: 810px;
	margin:auto;
	background-color:#f9f9f9;
}
.space{
	width: 960px;
	height: 60px;
	background-color:#f9f9f9;
}
.clear{
	clear:both;
}
h2,h3,p,li,a{
	font-family: Calibri;
}


/*--------------------------------------------*/



.banner{
	width: 960px;
	margin:auto;
	background-color:#f9f9f9;
}
.header{
	width: 960px;	
	margin:auto;
}
.logo{
	width: 128px;
	height: 132px;
	float:left;
}
.logo img{
	width: 115px;
	height:126px;
}
.blank{
	width: 330px;
	height: 40px;
	float: left;
	position:relative;
	box-shadow: 5px 5px 15px 0px gray;
	outline: none;
	text-indent: 12px;
	border:1px solid rgba(220,216,216,0.8);
	font-size: 17px;
	padding: 0;
	background-color: #f9f9f9;
	-webkit-transition:width 0.35s;
	top:47px;
}
.blank:focus{
	width: 250px;
}
::-webkit-input-placeholder { 
	color:rgba(71,71,71,.6); 
	font-size: 17px; 
	display: block;
	padding-left: 7px;
	font-family: Calibri;
}
.go button{
	width: 47px;
	height: 36px;
	border:none;
	background-color:#f9f9f9;
	position:relative;
	right:57px;
	top:50px;
	-webkit-transition:width 0.35s;
}
.go img{
	width: 33px;
	height: 30px;
	position:absolute;
	margin:-15px -15px;
	z-index: 2;
	background-color: #f9f9f9;
	border:none;
	left:20px;
	-webkit-transition:width 0.35s;
}
.menu{
	width: 470px;
	height: 128px;
	float: right;
	position:relative;
	bottom:33px;
	left:20px;
}
.menu li:nth-child(2) a{
	color:rgba(143,117,82,0.9);
}

.menu li{
	display: inline-block;
	list-style: none;
	font-family: Calibri;
	font-weight: bold;
	font-size: 23px;
	margin: 50px 0px 50px 0px;
	text-align: center;
}
.menu li:first-child{
	color:black;
}
.menu li+li:before{
	content: '|';
	display: inline-block;
	color:rgba(167,164,157,0.8);
	padding: 0px 15px 0px 15px;
	vertical-align: middle;
}
.menu a{
	color:rgba(167,164,157,0.8);
	text-decoration:none;
}
.menu a:hover{
	color:#d96200;
}
.menu li:first-child a:hover{
	color:#d96200;
}

/*------------------story----------------------*/


.lightbox-target {
	/* 設定好背景層的樣式以及位置 */
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);

	/* 預設透明度為 0，觸發 :target 後，利用動畫效果調整透明度 */
	opacity: 0;
	@include transition(opacity .5s ease-in-out);
	overflow: hidden;
	.content {
		/* 設定內容的樣式及位置(白底區塊) */
		width: 90%;
		height: 90%;
		background: #fff;
		color: #333;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 3px solid #fff;
		@include box-shadow(0 0 8px rgba(0,0,0,.3));
		box-sizing: border-box;

		/* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */
		max-height: 0%;
		max-width: 0%;
		@include transition(.5s ease-in-out);
	}
	img {
		/* 設定圖片的樣式及位置，利用 */
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 3px solid #fff;
		@include box-shadow(0 0 8px rgba(0,0,0,.3));
		box-sizing: border-box;

		/* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */
		max-height: 0%;
		max-width: 0%;
		@include transition(.5s ease-in-out);
	}

	/* 當 :target 觸發後，index-target 的透明度為 1；content &amp; img 的寬高為 100% */
	&amp;:target {
		opacity: 1;
		top: 0;
		bottom: 0;
		.content, img {
			max-height: 100%;
			max-width: 100%;
		}
		.lightbox-close {
			top: 5%;
		}
	}
}

/* 關閉 Lightbox 按鈕的位置及樣式 */
.lightbox-close {
	display: block;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	background: #139dd7;
	color: #fff;
	position: absolute;
	top: 10%;
	right: 5%;
	@include transition(.5s ease-in-out);

	/* 利用偽元素做出 \ 以及 / 的線條，合併就變成 X 囉 */
	&amp;:before, &amp;:after {
		content: " ";
		display: block;
		height: 30px;
		width: 1px;
		background: #fff;
		position: absolute;
		left: 26px;
		top: 10px;
		@include transform(rotate(45deg));
	}
	&amp;:after {
		@include transform(rotate(-45deg));
	}
}



























