*{
	margin: 0;
	padding: 0;
	list-style:none;
}
html body{
	background-color: black;
}
*{
			margin: 0;
			padding: 0;
			list-style:none;
		}
		.menuControlBtn{
			display:none;
		}
		#menuControl{
			position: absolute;
			left: -10000px;
		}
		.slider img{
			width: 100%;
		}
		.header{
			background-color:#666;
		}
		.menu a{
			font-size: 16px;
			color:#fff;
			text-decoration: none;
		}
		@media screen and (max-width: 767px){
			.menuControlBtn{
				display:block;
				width: 40px;
				height: 40px;
				font-size: 30px;
				padding-top: 6px;
				padding-left: 6px;
				color:#fff;
			}
			.menu{
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 50px;
			}
			.menu ul{
				width: 200px;
				height: calc( 100vh - 50px);
				position: fixed;
				top: 50px;
				left: -200px;
				/*margin-top: 50px;*/
				background-color:#999;
				transition:.5s;
			}
			#menuControl:checked ~ .wrapper .menu ul{ left: 0; }
		}
		@media screen and (min-width: 768px){
			
			.menu ul{
				text-align: center;
			}
			.menu li{
				display:inline;
			}
			.menu a{}
		}









